<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>Chicago news!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../models/index.js"></script>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
